<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048493622652-1dv54qaaet0jl0kq06e3enh13hetleaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048493622652-1dv54qaaet0jl0kq06e3enh13hetleaq</string>
	<key>API_KEY</key>
	<string>AIzaSyDH70ctKVPyNpw3RXR0bT7ErG_pE4sNMGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1048493622652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-app-494ae</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-494ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048493622652:ios:f5405d553e04b72434d0f9</string>
</dict>
</plist>